.timer {
    display: flex;
    gap: 4px;
    height: 70vh;
    justify-content: center;
    align-items: center;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    border: solid lightgrey;
  }
  
  .value {
    font-size: 72;
    font-family: 'Roboto', sans-serif;
  }
  
  .label {
    font-family: 'Roboto', sans-serif;
    font-size: 24;
    text-transform: uppercase;
  }
  
  .btn {
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .input {
    height: 27px;
  }
  
  .time-finished {
    color: red;
  }